<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="../main">FRIDFOOD</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <button type="button" class="btn btn-light page-links" id="main">Home</button>
        {{!-- <a class="nav-link" href="/main">Home</a> --}}
      </li>
      <li class="nav-item active">
        <button type="button" class="btn btn-light page-links">How it works</button>
        {{!-- <a class="nav-link" href="/main">How it works</a> --}}
      </li>
      <li class="nav-item active">
        <button type="button" class="btn btn-light page-links">My recipes</button>
        {{!-- <a class="nav-link" href="/recipes">My Recipes</a> --}}
      </li>
      <li class="nav-item active">
        <button type="button" class="btn btn-light page-links" id="fridge">My fridge</button>
        {{!-- <a class="nav-link" href="/fridge">My fridge</a> --}}
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Contact Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://github.com/thuynguyen-nht">Thuy Nguyen</a>
          <a class="dropdown-item" href="https://github.com/ardelato">Angel de la Torre</a>
          <a class="dropdown-item" href="https://github.com/atrodondi">Alex R</a>
          <a class="dropdown-item" href="https://github.com/phquyenle">Phuong Quyen Le</a>
        </div>
      </li>

      <form class="form-inline my-2 my-lg-0" id="search-recipes">
        <input class="form-control mr-sm-2" type="search" placeholder="Search recipes" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <li class="nav-item active">
        <button class="btn btn-outline-success my-2 my-sm-0" id="logOut" type="submit">Log
          Out</button>
      </li>


    </ul>

  </div>
</nav>

{{!-- End navbar --}}

{{!-- My fridge section --}}
<div class="how-fridge-work">
  <img src="../image/mf.jpg" class="img-fluid w-100" alt="food combination">

</div>

<div class="container mt-5">
  <div class="card">
    <h4 class="card-header">Add New Ingredients:</h4>
    <div class="card-body">

      <form class="row form-inline inv-form">
        <div class="col-md-5 form-group">
          <label for="ingredientSearch" class="col-sm col-form-label">New Ingredients:</label>
          <input class="form-control col-sm mr-sm" type="search" placeholder="Search Ingredients" aria-label="Search"
            name="ingredientSearch" id="ingredientSearch">
          <ul class="list-group" id="result"></ul>
        </div>
        <div class="col-md-5 form-group">
          <label for="quantity" class="col-sm col-form-label">Quantity:</label>
          <input class="form-control col-sm mr-sm" type="text" placeholder="Enter quantity" aria-label="quantity"
            name="quantity" id="quantity">
          <div class="form-group">
            <select class="form-control" id="units">
              <option value="E">each</option>
              <option value="O">ounce</option>
              <option value="M">mL</option>
            </select>
          </div>
        </div>
        <button type="submit" id="addIngredient" class="btn btn-primary col-md-1">Add</button>
      </form>

    </div>
  </div>

  <div class="card fridgeInv mt-5">
    <div class="card-header">
      <div class="row">
        <h4 class="col">My fridge inventory:</h4>
        <button type="button" class="btn btn-info col" id="matchingRecipes">Find Recipes</button>
      </div>

    </div>

    {{!-- user inventory will be displayed here --}}
    <div class="card-body">
      <ul id="displayIngredients">
        {{#each fridges}}
        {{>fridges/fridges-block}}
        {{/each}}
      </ul>

    </div>
  </div>


  <div class="card fridgeInv mt-5">
    <h4 class="card-header">Suggested recipes based on your inventory</h4>


    {{!-- possible recipes will be displayed here --}}
    <div class="card-body" id="possibleRecipes">
      <div class="card-deck renderMatchRecipe">


      </div>

    </div>

  </div>
</div>

{{!-- End my fridge section --}}

{{!-- random most popular recipes --}}
{{!-- <section id="slideshow">
  <h1>Recommended recipes</h1>
  <div class="dropdown-divider"></div>
  <div class="slick">

  </div>

</section> --}}


{{!-- end random most popular --}}

{{!-- Contact Us footer --}}

<footer>
  <div class="container">

    <div class="row">
      <div class="col row" id="developers">
        <div class="col">
          Developers
        </div>
        <div class="col side-dev">
          <a class="row" href="#">Documentation</a>
          <a class="row" href="#">Tutorial</a>
        </div>
      </div>

      <div class="col row" id="follow">

        <div class="col">
          Follow Us
        </div>
        <div class="col">
          <div class="row  btn-group dropright">
            <button type="button" class="btn btn-secondary">
              Github
            </button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropright</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="https://github.com/thuynguyen-nht">Thuy Nguyen</a>
              <a class="dropdown-item" href="https://github.com/ardelato">Angel de la Torre</a>
              <a class="dropdown-item" href="https://github.com/atrodondi">Alex R</a>
              <a class="dropdown-item" href="https://github.com/phquyenle">Phuong Quyen Le</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="text-center">© 2020 FIDFOOD. All rights reserved.</div>
  </div>
</footer>

{{!-- End footer --}}
{{!-- modal for recipes --}}
<div class="modal fade" id="randomRecipe" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body instructionRecipe">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>