a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: black;
  transition: opacity 0.125s linear;
}
a :hover {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.125s linear;
}

a :visited {
  color: inherit;
  text-decoration: none;
}

li {
  margin-left: 40px;
}

#search-recipes {
  margin-left: 40px;
}

.how-fridge-work {
  color: #fcfbfc;
}

.centered {
  position: absolute;
  top: 12vw;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
}

.how-contain {
  margin-top: 3vw;
}

#fridge-icon {
  width: 70%;
}

.explain {
  margin: auto;
}

.bg-pic {
  background-color: #fcfbfc;
}

.icon h4 {
  text-align: center;
  color: black;
}

#slideshow {
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  width: 80%;
}

.slick-prev:before,
.slick-next:before {
  color: red !important;
}

footer {
  margin-top: 5em;
  height: 6em;
}
